@mixin phone {
    @media (max-width: 319.9px) { @content; }
}
@mixin phone1 {
    @media (min-width: 320px) and (max-width: 419.9px) { @content; }
}
@mixin phone2 {
    @media (min-width: 420px) and(max-width: 599.9px) { @content; }
}
@mixin tablet {
    @media (min-width: 600px) and (max-width: 899.9px)  { @content; }
}

@mixin desktop {
    @media (min-width: 900px) and (max-width: 2000px) { @content; }
}



html{
    background-image: linear-gradient(170deg,rgb(56, 56, 56),rgb(77, 77, 77), rgb(54, 54, 54),rgb(47, 48, 48));
    background-size: cover;
    height: 610px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-family: 'Work Sans', sans-serif;
    overflow-y: hidden;
    @include phone{
        position: fixed;
        width: 100%;
        height: 900px;
    }
    @include phone1{
        position: fixed;
        width: 100%;
        height: 900px;
    }
 
    @include phone2{
        position: fixed;
        width: 530px;
        height: 900px;
    }
    @include tablet(){
        width: 700px;
    }
    
}


/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: rgb(56, 56, 58) rgb(211, 210, 209);
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background:rgb(211, 210, 209);
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: rgb(56, 56, 58);
    border-radius: 20px;
    border: 3px solid rgb(211, 210, 209);
  }


.caixa_chat{ 
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-image: linear-gradient(75deg,rgba(255, 255, 255, 0.947),rgba(247, 241, 241, 0.905),rgba(247, 241, 241, 0.805));
    border-radius: 5px;
    border: solid rgba(243, 243, 243, 0.788) 1px;
    height:400px;
    width: 500px;
    overflow:scroll;
    overflow-x: hidden;
    @include phone{
        margin-left: auto;
        margin-right: auto;
        height:200px;
        width: 220px;
    }
    @include phone1{
        margin-left: auto;
        margin-right: auto;
        height:200px;
        width: 260px;
    }
    @include phone2{
        margin-left: auto;
        margin-right: auto;
        height:200px;
        width: 300px;
    }
}
.message{
margin-bottom: 8px;
}
.saudacao{
    margin-bottom: 10px;
    color:#a2a2a2;
    font-size:14px;
    @include phone{
        font-size: 18px;
    }    @include phone1{
        font-size: 18px;
    }    @include phone2{
        font-size: 18px;
    }
}
.aviso{
    margin-bottom: 10px;
    line-height: 15px;
    color:#a2a2a2;
    font-size:12px;
    @include phone{
        font-size: 16px;
        line-height: 18px;
    }    @include phone1{
        line-height: 18px;
        font-size: 16px;
    }    @include phone2{
        line-height: 18px;
        font-size: 16px;
    }
}

input{
    font-family: 'Work Sans', sans-serif;
    padding-left: 20px;
    background: white;
    border-radius: 10px;
    border: solid rgba(243, 243, 243, 0.788) 1px;
    color: rgb(12, 10, 58);
    font-weight:bold;
    @include phone2{
        padding-left: 10px;
    }
}

.caixa_ferramentas{
    display: flex;
    height:50px;
    width: 557px;
    @include phone{
        width: 220;
        text-align: center;
        display: inline-table;
    }
    @include phone1{
        width: 260;
        text-align: center;
        display: inline-table;
    }
    @include phone2{
        width: 0;
        text-align: center;
        display: inline-table;
    }
    .color{
        display: inline-flex;
        margin: 10px 0;
        height: 35px;
        width: 60px;
        padding-left: 5px;
        @include phone{
            width: 25px;
            position: relative;
            top:8px;
            margin: 0 5px;
            padding-left: 2px;
        }
        @include phone1{
            width: 30px;
            position: relative;
            top:8px;
            margin: 0 5px;
            padding-left: 3px;
        }
        @include phone2{
            width: 40px;
            position: relative;
            top:7px;
            margin: 0 5px;
            padding-left: 7;
        }
    }
    .input_username{
        display: inline-flex;
        margin: 10px 10px;
        height: 30px;
        width: 70px;
        @include phone{
            width: 88px;
            margin: 0 5px;
        }
        @include phone1{
            width: 120px;
            margin: 0 5px;
        }
        @include phone2{
            width: 135px;
            margin: 0 5px;
        }
    }
    .input_message{
        display: block;
        margin: 10px 10px;
        height: 30px;
        width: 600px;
        @include phone{
            margin-left: auto;
            margin-right: auto;
            margin-top: 15px;
            width: 235px;
            height: 55px;
        }
        @include phone1{
            margin-left: auto;
            margin-right: auto;
            margin-top: 15px;
            width: 275px;
            height: 55px;
        }
        @include phone2{
            margin-top: 15px;
            width: 330px;
            height: 55px;
        }
    }
    .enviar{
        padding: 5px;
        margin: 10px 5px;
        font-size: 18px;
        width: 120px;
        height: 35px;
        background: rgba(114, 114, 236, 0.801);
        color: white;
        border-radius: 10px;
        border: 1px solid rgb(100, 100, 153);
        @include phone{
            width: 90px;
            margin: 0 5px;
        }
        @include phone1{
            width: 90px;
            margin: 0 5px;
        }
        @include phone2{
            margin: 0 5px;
        }
    } 
}
.erro_form{
    font-size: 14px; 
    display: none;
    margin-left: auto;
    margin-right: auto;
    width: 99%;
    height: 30px;
    padding-top: 15px;
    border-radius: 5px;
    background:rgb(230, 201, 191);
    text-align: center;
    color: rgb(247, 40, 40);
    @include phone1{

        padding-top: 5px;
        margin-top: 10px;
        height: 25px;
        width: 335px;
    }
    @include phone2{
 
        padding-top: 5px;
        margin-top: 10px;
        height: 25px;
        width: 335px;
    }
}

