html {
  background-image: linear-gradient(170deg, #383838, #4d4d4d, #363636, #2f3030);
  background-size: cover;
  height: 610px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-family: "Work Sans", sans-serif;
  overflow-y: hidden;
}
@media (max-width: 319.9px) {
  html {
    position: fixed;
    width: 100%;
    height: 900px;
  }
}
@media (min-width: 320px) and (max-width: 419.9px) {
  html {
    position: fixed;
    width: 100%;
    height: 900px;
  }
}
@media (min-width: 420px) and (max-width: 599.9px) {
  html {
    position: fixed;
    width: 530px;
    height: 900px;
  }
}
@media (min-width: 600px) and (max-width: 899.9px) {
  html {
    width: 700px;
  }
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #38383a #d3d2d1;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #d3d2d1;
}

*::-webkit-scrollbar-thumb {
  background-color: #38383a;
  border-radius: 20px;
  border: 3px solid #d3d2d1;
}

.caixa_chat {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  background-image: linear-gradient(75deg, rgba(255, 255, 255, 0.947), rgba(247, 241, 241, 0.905), rgba(247, 241, 241, 0.805));
  border-radius: 5px;
  border: solid rgba(243, 243, 243, 0.788) 1px;
  height: 400px;
  width: 500px;
  overflow: scroll;
  overflow-x: hidden;
}
@media (max-width: 319.9px) {
  .caixa_chat {
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 220px;
  }
}
@media (min-width: 320px) and (max-width: 419.9px) {
  .caixa_chat {
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 260px;
  }
}
@media (min-width: 420px) and (max-width: 599.9px) {
  .caixa_chat {
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 300px;
  }
}

.message {
  margin-bottom: 8px;
}

.saudacao {
  margin-bottom: 10px;
  color: #a2a2a2;
  font-size: 14px;
}
@media (max-width: 319.9px) {
  .saudacao {
    font-size: 18px;
  }
}
@media (min-width: 320px) and (max-width: 419.9px) {
  .saudacao {
    font-size: 18px;
  }
}
@media (min-width: 420px) and (max-width: 599.9px) {
  .saudacao {
    font-size: 18px;
  }
}

.aviso {
  margin-bottom: 10px;
  line-height: 15px;
  color: #a2a2a2;
  font-size: 12px;
}
@media (max-width: 319.9px) {
  .aviso {
    font-size: 16px;
    line-height: 18px;
  }
}
@media (min-width: 320px) and (max-width: 419.9px) {
  .aviso {
    line-height: 18px;
    font-size: 16px;
  }
}
@media (min-width: 420px) and (max-width: 599.9px) {
  .aviso {
    line-height: 18px;
    font-size: 16px;
  }
}

input {
  font-family: "Work Sans", sans-serif;
  padding-left: 20px;
  background: white;
  border-radius: 10px;
  border: solid rgba(243, 243, 243, 0.788) 1px;
  color: #0c0a3a;
  font-weight: bold;
}
@media (min-width: 420px) and (max-width: 599.9px) {
  input {
    padding-left: 10px;
  }
}

.caixa_ferramentas {
  display: flex;
  height: 50px;
  width: 557px;
}
@media (max-width: 319.9px) {
  .caixa_ferramentas {
    width: 220;
    text-align: center;
    display: inline-table;
  }
}
@media (min-width: 320px) and (max-width: 419.9px) {
  .caixa_ferramentas {
    width: 260;
    text-align: center;
    display: inline-table;
  }
}
@media (min-width: 420px) and (max-width: 599.9px) {
  .caixa_ferramentas {
    width: 0;
    text-align: center;
    display: inline-table;
  }
}
.caixa_ferramentas .color {
  display: inline-flex;
  margin: 10px 0;
  height: 35px;
  width: 60px;
  padding-left: 5px;
}
@media (max-width: 319.9px) {
  .caixa_ferramentas .color {
    width: 25px;
    position: relative;
    top: 8px;
    margin: 0 5px;
    padding-left: 2px;
  }
}
@media (min-width: 320px) and (max-width: 419.9px) {
  .caixa_ferramentas .color {
    width: 30px;
    position: relative;
    top: 8px;
    margin: 0 5px;
    padding-left: 3px;
  }
}
@media (min-width: 420px) and (max-width: 599.9px) {
  .caixa_ferramentas .color {
    width: 40px;
    position: relative;
    top: 7px;
    margin: 0 5px;
    padding-left: 7;
  }
}
.caixa_ferramentas .input_username {
  display: inline-flex;
  margin: 10px 10px;
  height: 30px;
  width: 70px;
}
@media (max-width: 319.9px) {
  .caixa_ferramentas .input_username {
    width: 88px;
    margin: 0 5px;
  }
}
@media (min-width: 320px) and (max-width: 419.9px) {
  .caixa_ferramentas .input_username {
    width: 120px;
    margin: 0 5px;
  }
}
@media (min-width: 420px) and (max-width: 599.9px) {
  .caixa_ferramentas .input_username {
    width: 135px;
    margin: 0 5px;
  }
}
.caixa_ferramentas .input_message {
  display: block;
  margin: 10px 10px;
  height: 30px;
  width: 600px;
}
@media (max-width: 319.9px) {
  .caixa_ferramentas .input_message {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    width: 235px;
    height: 55px;
  }
}
@media (min-width: 320px) and (max-width: 419.9px) {
  .caixa_ferramentas .input_message {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    width: 275px;
    height: 55px;
  }
}
@media (min-width: 420px) and (max-width: 599.9px) {
  .caixa_ferramentas .input_message {
    margin-top: 15px;
    width: 330px;
    height: 55px;
  }
}
.caixa_ferramentas .enviar {
  padding: 5px;
  margin: 10px 5px;
  font-size: 18px;
  width: 120px;
  height: 35px;
  background: rgba(114, 114, 236, 0.801);
  color: white;
  border-radius: 10px;
  border: 1px solid #646499;
}
@media (max-width: 319.9px) {
  .caixa_ferramentas .enviar {
    width: 90px;
    margin: 0 5px;
  }
}
@media (min-width: 320px) and (max-width: 419.9px) {
  .caixa_ferramentas .enviar {
    width: 90px;
    margin: 0 5px;
  }
}
@media (min-width: 420px) and (max-width: 599.9px) {
  .caixa_ferramentas .enviar {
    margin: 0 5px;
  }
}

.erro_form {
  display: none;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  height: 30px;
  padding-top: 15px;
  border-radius: 5px;
  background: #e6c9bf;
  text-align: center;
  color: #f72828;
}
@media (min-width: 320px) and (max-width: 419.9px) {
  .erro_form {
    font-size: 14px;
    padding-top: 5px;
    margin-top: 10px;
    height: 25px;
    width: 335px;
  }
}
@media (min-width: 420px) and (max-width: 599.9px) {
  .erro_form {
    font-size: 14px;
    padding-top: 5px;
    margin-top: 10px;
    height: 25px;
    width: 335px;
  }
}

/*# sourceMappingURL=style.css.map */
