.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.789);
}

.modal-content {
  text-align: center;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  width: 30%;
  border: 3px solid #0ea5bc;
  border-radius: 10px;
  background-image: linear-gradient(rgba(255, 255, 255, 0.947), rgba(247, 241, 241, 0.905), rgba(247, 241, 241, 0.805));
}
@media (max-width: 319.9px) {
  .modal-content {
    width: 90%;
  }
}
@media (min-width: 320px) and (max-width: 419.9px) {
  .modal-content {
    width: 70%;
  }
}
@media (min-width: 420px) and (max-width: 599.9px) {
  .modal-content {
    width: 70%;
  }
}
@media (min-width: 600px) and (max-width: 899.9px) {
  .modal-content {
    width: 40%;
  }
}
.modal-content h4 {
  color: #0ea5bc;
  text-shadow: #3998d3 0.5px 0.5px 0px;
}

.close {
  color: #aaa;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  font-family: "Work Sans", sans-serif;
  padding: 5px;
  background: #0ea5bc;
  color: white;
  border: 1px solid #0ea5bc;
}

.close:hover,
.close:focus {
  text-decoration: none;
  cursor: pointer;
}

.color {
  height: 20px;
  width: 40px;
  padding: 0;
}

.input_username {
  position: relative;
  margin-bottom: 10px;
  bottom: 6px;
  height: 20px;
  width: 190px;
  background: transparent;
  border: none;
  border-bottom: 1px #034168 solid;
}
@media (max-width: 319.9px) {
  .input_username {
    font-size: 12px;
    width: 140px;
  }
}
@media (min-width: 320px) and (max-width: 419.9px) {
  .input_username {
    font-size: 14px;
    width: 150px;
  }
}
@media (min-width: 420px) and (max-width: 599.9px) {
  .input_username {
    font-size: 14px;
    width: 150px;
  }
}

html {
  background-image: linear-gradient(#e6e9e4, #bdd0d0, #9abcbf);
  background-size: cover;
  background-repeat: repeat;
  height: 900px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-family: "Work Sans", sans-serif;
  overflow-y: hidden;
}
@media (max-width: 319.9px) {
  html {
    height: 900px;
  }
}
@media (min-width: 320px) and (max-width: 419.9px) {
  html {
    height: 900px;
  }
}
@media (min-width: 420px) and (max-width: 599.9px) {
  html {
    height: 900px;
  }
}
@media (min-width: 600px) and (max-width: 899.9px) {
  html {
    height: 900px;
  }
}

h1 {
  padding-top: 10px;
  text-align: center;
  margin: 3px auto;
  font-size: 22px;
  color: #0ea5bc;
  text-shadow: #034168 0.5px 0.5px 0px;
}

p {
  text-align: center;
  font-size: 12px;
  color: #034168;
  padding: 2px auto;
}

*:focus {
  outline: none;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #38383a #d3d2d1;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #d3d2d1;
}

*::-webkit-scrollbar-thumb {
  background-color: #38383a;
  border-radius: 20px;
  border: 3px solid #d3d2d1;
}

.box {
  width: 500px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}
@media (max-width: 319.9px) {
  .box {
    width: 270px;
    height: 305px;
  }
}
@media (min-width: 320px) and (max-width: 419.9px) {
  .box {
    width: 350px;
    height: 305px;
  }
}
@media (min-width: 420px) and (max-width: 599.9px) {
  .box {
    width: 400px;
    height: 300px;
  }
}

.caixa_chat {
  margin: 0;
  padding: 20px;
  background-image: linear-gradient(rgba(255, 255, 255, 0.947), rgba(247, 241, 241, 0.905), rgba(247, 241, 241, 0.805));
  border: solid rgba(243, 243, 243, 0.788) 1px;
  height: 300px;
  max-width: 100%;
  overflow: scroll;
  overflow-x: hidden;
}
@media (max-width: 319.9px) {
  .caixa_chat {
    height: 200px;
  }
}
@media (min-width: 320px) and (max-width: 419.9px) {
  .caixa_chat {
    height: 200px;
  }
}
@media (min-width: 420px) and (max-width: 599.9px) {
  .caixa_chat {
    height: 200px;
  }
}

.message {
  margin-bottom: 8px;
}

.saudacao {
  margin-bottom: 10px;
  color: #034168;
  font-size: 14px;
}
@media (max-width: 319.9px) {
  .saudacao {
    font-size: 18px;
  }
}
@media (min-width: 320px) and (max-width: 419.9px) {
  .saudacao {
    font-size: 18px;
  }
}
@media (min-width: 420px) and (max-width: 599.9px) {
  .saudacao {
    font-size: 18px;
  }
}

.aviso {
  margin-bottom: 10px;
  line-height: 15px;
  color: #a2a2a2;
  font-size: 12px;
}
@media (max-width: 319.9px) {
  .aviso {
    font-size: 16px;
    line-height: 18px;
  }
}
@media (min-width: 320px) and (max-width: 419.9px) {
  .aviso {
    line-height: 18px;
    font-size: 16px;
  }
}
@media (min-width: 420px) and (max-width: 599.9px) {
  .aviso {
    line-height: 18px;
    font-size: 16px;
  }
}

input {
  font-family: "Work Sans", sans-serif;
  padding-left: 5px;
  background: white;
  border: solid rgba(157, 154, 154, 0.788) 1px;
  color: #0c0a3a;
  font-weight: bold;
}

.caixa_ferramentas {
  display: flex;
  max-height: 40px;
  max-width: 100%;
}
.caixa_ferramentas .input_message {
  max-height: 100%;
  width: 75%;
}
@media (max-width: 319.9px) {
  .caixa_ferramentas .input_message {
    font-size: 12px;
  }
}
@media (min-width: 320px) and (max-width: 419.9px) {
  .caixa_ferramentas .input_message {
    font-size: 14px;
  }
}
@media (min-width: 420px) and (max-width: 599.9px) {
  .caixa_ferramentas .input_message {
    font-size: 14px;
  }
}
.caixa_ferramentas .btn_username {
  text-align: center;
  font-family: "Work Sans", sans-serif;
  background: white;
  max-height: 100%;
  width: 5%;
  border-radius: 0;
  border: solid rgba(157, 154, 154, 0.788) 1px;
}
.caixa_ferramentas .btn_username i {
  font-size: 12px;
}
@media (max-width: 319.9px) {
  .caixa_ferramentas .btn_username {
    font-size: 12px;
    width: 10%;
  }
}
@media (min-width: 320px) and (max-width: 419.9px) {
  .caixa_ferramentas .btn_username {
    font-size: 14px;
    width: 7%;
  }
}
@media (min-width: 420px) and (max-width: 599.9px) {
  .caixa_ferramentas .btn_username {
    font-size: 14px;
    width: 7%;
  }
}
.caixa_ferramentas .enviar {
  font-size: 14px;
  width: 20%;
  max-width: 100%;
  max-height: 100%;
  background: #0ea5bc;
  color: white;
  border: 1px solid #0ea5bc;
}
@media (max-width: 319.9px) {
  .caixa_ferramentas .enviar {
    font-size: 12px;
    width: 20%;
  }
}
@media (min-width: 320px) and (max-width: 419.9px) {
  .caixa_ferramentas .enviar {
    font-size: 14px;
    width: 23%;
  }
}
@media (min-width: 420px) and (max-width: 599.9px) {
  .caixa_ferramentas .enviar {
    font-size: 14px;
    width: 25%;
  }
}

.erro_form {
  font-size: 12px;
  display: none;
  margin: 3px auto;
  width: 100%;
  height: 20px;
  padding-top: 9px;
  border-radius: 5px;
  background: rgba(240, 216, 208, 0.849);
  text-align: center;
  vertical-align: middle;
  color: #f72828;
}

footer {
  padding-top: 10px;
  text-align: center;
}
footer a {
  text-decoration: none;
  color: #0ea5bc;
  text-shadow: #1a74ac 0.5px 0.5px 0px;
}
footer a:visited {
  color: #0ea5bc;
}

/*# sourceMappingURL=style.css.map */
